
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(../assets/lo_L7yCDHYN9FAxvMCI1vQ.woff2) format('woff2'),url(../assets/lo_L7yCDHYN9FAxvMCI1vQ.eot) format('eot');
}

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(../assets/Qx6FPcitRwTC_k88tLPc-TxObtw73-qQgbr7Be51v5c.woff2) format('woff2'),
             url(../assets/Qx6FPcitRwTC_k88tLPc-TxObtw73-qQgbr7Be51v5c.eot) format('eot');
}




@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../assets/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2'),url(../assets/pEobIV_lL25TKBpqVI_a2w.eot) format('eot');
}
